:root {
    --primary: #cddacc;
    --secondary: #9caeae;
    --tertiary: #788583;
    --light-dark: #69666f;
    --dark: #2f2e38;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 24px;
  }
  


a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--dark);
}

  .link-color {
      color: var(--tertiary);
      padding: 10px;
      margin: 10px

  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  